.seccion {
  padding: 75px 200px;
  color: rgb(213, 113, 154);
  @include desktop-878 () {
    padding: 75px 50px;
  }
  @include desktop-494 () {
    padding: 50px 25px;
      }
}

.seccion__titulo {
  text-decoration: underline;
  font-size: 1.75rem;
}

.seccion__articulo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-left: 20px;
  @include desktop-494 () {
    margin-left: 0;
      }
}

.seccion__articulo-titulo {
  font-size: 1.35rem;
  padding: 5px;
}

.seccion__articulo-titulo--contiguo {
  margin-top: 20px;
}

.seccion__articulo-parrafo {
  font-size: 1.225rem;
}

.seccion--contigua {
  padding: 0px 200px;
  @include desktop-878 () {
    padding: 0px 50px;
  }
  @include desktop-494 () {
    padding: 0px 25px;
      }
}

.contenedor-flecha-imagen {
@include flexbox(center,);
}

.imagen {
  width: 1000px;
  box-shadow: 5px 5px 20px #000;
  margin-top: 100px;
  margin-bottom: 50px;
  @include desktop-1392() {
    width: 700px;
  }
  @include desktop-1146 () {
    margin-top: 25px;
  }
  @include desktop-878 () {
    width: 400px;
  }
  @include desktop-494 () {
    width: 100vw;
      }
}

.imagen-pequeña {
  width: 400px;
  margin-top: 100px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 50px;
  @include desktop-1146 () {
    margin-top: 25px;
  }
  @include desktop-878 () {
    width: 300px;
  }
  @include desktop-494 () {
    width: 100vw;
      }
}

.flecha {
  width: 300px;
  height: 300px;
  @include desktop-1146() {
    display: none;
  }
}

.flecha-pequeña {
  height: 200px;
  @include desktop-1146() {
    display: none;
  }
}

.iconoflecha {
  width: 60px;
  position: sticky;
  bottom: 30px;
  left: 93.5%;
  margin: 20px;
  transition: 0.3s ease;
  @include desktop-878 () {
    width: 30px;
  }
}

.iconoflecha:hover {
width: 65px;
}

.contenedor-video {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.video {
  width: 900px;

}