.btn {
  background-color: $color-btn;
  color: #fff;
  border-radius: 10px;
  padding: .5em 1em;
  display: inline-block;
  margin-top: 15px;
  transition: 0.3s ease;

  &:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(168, 195, 225);
    border: 1px solid rgb(168, 195, 225);
  }

  // ⇩ Ejemplo de extend

  &--inactivo {
    @extend .btn;

    // Ejemplo de condicionales

    @if $color-btn == blue {
      background-color: rgb(230, 1, 1);
    }
    @else {
      background-color: black;
    }
  }
}

